In [1]:
import pandas as pd

In [2]:
df_original = pd.read_csv("../datos/madrid_4_2025.csv", parse_dates = True, sep = ";")
df_original.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2025,4,1,4,V,...,4,V,4,V,4,V,4,V,4,V
1,28,102,1,6,28102001_6_48,2025,4,1,"0,3",V,...,"0,3",V,"0,3",V,"0,3",V,"0,3",V,"0,3",V
2,28,102,1,7,28102001_7_8,2025,4,1,1,V,...,1,V,1,V,1,V,1,V,1,V
3,28,102,1,8,28102001_8_8,2025,4,1,4,V,...,6,V,3,V,2,V,3,V,3,V
4,28,102,1,10,28102001_10_49,2025,4,1,9,V,...,9,V,8,V,8,V,7,V,8,V

In [3]:
df_pruebas = df_original[["punto_muestreo", "ano", "mes", "dia", "h01", "v01", "h02", "v02", "h03", "v03","h04", "v04"]]
df_pruebas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   punto_muestreo  362 non-null    object
 1   ano             362 non-null    int64
 2   mes             362 non-null    int64
 3   dia             362 non-null    int64
 4   h01             362 non-null    object
 5   v01             362 non-null    object
 6   h02             362 non-null    object
 7   v02             362 non-null    object
 8   h03             362 non-null    object
 9   v03             362 non-null    object
 10  h04             362 non-null    object
 11  v04             362 non-null    object
dtypes: int64(3), object(9)
memory usage: 34.1+ KB

In [4]:
df_pruebas[["ano", "mes", "dia"]] = (df_pruebas[["ano", "mes", "dia"]]).astype(str)

C:\Users\marta\AppData\Local\Temp\ipykernel_13400\2820210921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pruebas[["ano", "mes", "dia"]] = (df_pruebas[["ano", "mes", "dia"]]).astype(str)

In [5]:
df_pruebas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   punto_muestreo  362 non-null    object
 1   ano             362 non-null    object
 2   mes             362 non-null    object
 3   dia             362 non-null    object
 4   h01             362 non-null    object
 5   v01             362 non-null    object
 6   h02             362 non-null    object
 7   v02             362 non-null    object
 8   h03             362 non-null    object
 9   v03             362 non-null    object
 10  h04             362 non-null    object
 11  v04             362 non-null    object
dtypes: object(12)
memory usage: 34.1+ KB

In [6]:
df_pruebas["fecha"] = df_pruebas["ano"] + "-" + df_pruebas["mes"] + "-" + df_pruebas["dia"]
df_pruebas.drop(columns = ["ano", "mes", "dia"], inplace=True)
df_pruebas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   punto_muestreo  362 non-null    object
 1   h01             362 non-null    object
 2   v01             362 non-null    object
 3   h02             362 non-null    object
 4   v02             362 non-null    object
 5   h03             362 non-null    object
 6   v03             362 non-null    object
 7   h04             362 non-null    object
 8   v04             362 non-null    object
 9   fecha           362 non-null    object
dtypes: object(10)
memory usage: 28.4+ KB

C:\Users\marta\AppData\Local\Temp\ipykernel_13400\2063085378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pruebas["fecha"] = df_pruebas["ano"] + "-" + df_pruebas["mes"] + "-" + df_pruebas["dia"]
C:\Users\marta\AppData\Local\Temp\ipykernel_13400\2063085378.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pruebas.drop(columns = ["ano", "mes", "dia"], inplace=True)

In [7]:
df_pruebas

     punto_muestreo  h01 v01  h02 v02  h03 v03  h04 v04     fecha
0     28102001_1_38    4   V    4   V    4   V    4   V  2025-4-1
1     28102001_6_48  0,3   V  0,3   V  0,3   V  0,2   V  2025-4-1
2      28102001_7_8    1   V    1   V    1   V    1   V  2025-4-1
3      28102001_8_8    4   V    5   V    4   V    3   V  2025-4-1
4    28102001_10_49    9   V    6   V    6   V    6   V  2025-4-1
..              ...  ...  ..  ...  ..  ...  ..  ...  ..       ...
357    28092005_7_8    2   V    2   V    2   V    2   V  2025-4-2
358    28092005_8_8    4   V    4   V    5   V    7   V  2025-4-2
359  28092005_10_49   17   V   15   V   14   V   13   V  2025-4-2
360   28092005_12_8    7   V    7   V    8   V   10   V  2025-4-2
361   28092005_14_6   82   V   77   V   71   V   66   V  2025-4-2

[362 rows x 10 columns]

In [8]:
df_pruebas_peque = df_pruebas[df_pruebas["punto_muestreo"].str.startswith("28102001")]
df_pruebas_peque

     punto_muestreo  h01 v01  h02 v02  h03 v03  h04 v04     fecha
0     28102001_1_38    4   V    4   V    4   V    4   V  2025-4-1
1     28102001_6_48  0,3   V  0,3   V  0,3   V  0,2   V  2025-4-1
2      28102001_7_8    1   V    1   V    1   V    1   V  2025-4-1
3      28102001_8_8    4   V    5   V    4   V    3   V  2025-4-1
4    28102001_10_49    9   V    6   V    6   V    6   V  2025-4-1
5     28102001_12_8    6   V    7   V    6   V    5   V  2025-4-1
6     28102001_14_6   94   V   82   V   80   V   73   V  2025-4-1
181   28102001_1_38    4   V    4   V    4   V    4   V  2025-4-2
182   28102001_6_48  0,3   V  0,3   V  0,3   V  0,3   V  2025-4-2
183    28102001_7_8    1   V    1   V    1   V    1   V  2025-4-2
184    28102001_8_8    3   V    2   V    2   V    2   V  2025-4-2
185  28102001_10_49    9   V   10   V   10   V   11   V  2025-4-2
186   28102001_12_8    5   V    4   V    4   V    4   V  2025-4-2
187   28102001_14_6   76   V   74   V   70   V   65   V  2025-4-2

In [ ]:
# quiero probar a unir el valor de h con el valor de v para hacer el melt y luego separarlo

In [21]:
# Transformar el DataFrame al formato deseado
columnas_horas = ["h01", "h02", "h03", "h04"]  # Columnas que contienen las horas
columnas_valores = ["v01", "v02", "v03", "v04"]  # Columnas que contienen los valores

# Crear un DataFrame "long" con las filas necesarias
#df_transformado = pd.DataFrame({
    #"punto_muestreo": df_pruebas_peque["punto_muestreo"].repeat(len(columnas_horas)),
    #"fecha": df_pruebas_peque["fecha"].repeat(len(columnas_horas)),
    #"hora": [hora for hora in columnas_horas for _ in range(len(df_pruebas_peque))],
    #"valor": pd.concat([df_pruebas_peque[col] for col in columnas_horas]).reset_index(drop=True)
       # })
df_horas = df_pruebas_peque.melt(
    id_vars=["punto_muestreo", "fecha"],  # Columnas que no se transforman
    value_vars=["h01", "h02", "h03", "h04"],  # Columnas de horas que queremos transformar
    var_name="hora",  # Nombre de la nueva columna que contiene las etiquetas de hora
    value_name="valor"  # Nombre de la nueva columna que contiene los valores
)
df_validado = df_pruebas_peque.melt(
    id_vars=["punto_muestreo", "fecha"],  # Columnas que no se transforman
    value_vars=["v01", "v02", "v03", "v04"],  # Columnas de valores
    var_name="val",  # Usamos las mismas etiquetas de hora para asociarlas
    value_name="validacion"  # Nueva columna para valores de mediciÃ³n
)
df_transformado = pd.merge(df_horas, df_validado, on=["punto_muestreo", "fecha", "hora"])

# Mostrar el DataFrame transformado
df_transformado

KeyError: 'hora'

In [11]:
df_horas.head()

   punto_muestreo     fecha hora valor
0   28102001_1_38  2025-4-1  h01     4
1   28102001_6_48  2025-4-1  h01   0,3
2    28102001_7_8  2025-4-1  h01     1
3    28102001_8_8  2025-4-1  h01     4
4  28102001_10_49  2025-4-1  h01     9

In [12]:
df_validado.head()

   punto_muestreo     fecha hora validacion
0   28102001_1_38  2025-4-1  v01          V
1   28102001_6_48  2025-4-1  v01          V
2    28102001_7_8  2025-4-1  v01          V
3    28102001_8_8  2025-4-1  v01          V
4  28102001_10_49  2025-4-1  v01          V

In [13]:
print(df_horas[["punto_muestreo", "fecha", "hora"]].head())
print(df_validado[["punto_muestreo", "fecha", "hora"]].head())

   punto_muestreo     fecha hora
0   28102001_1_38  2025-4-1  h01
1   28102001_6_48  2025-4-1  h01
2    28102001_7_8  2025-4-1  h01
3    28102001_8_8  2025-4-1  h01
4  28102001_10_49  2025-4-1  h01
   punto_muestreo     fecha hora
0   28102001_1_38  2025-4-1  v01
1   28102001_6_48  2025-4-1  v01
2    28102001_7_8  2025-4-1  v01
3    28102001_8_8  2025-4-1  v01
4  28102001_10_49  2025-4-1  v01

In [14]:
df_transformado = pd.merge(df_horas, df_validado, on=["punto_muestreo", "fecha", "hora"])
print(df_transformado.head())

Empty DataFrame
Columns: [punto_muestreo, fecha, hora, valor, validacion]
Index: []